apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app
          image: 2424833f/gitopsdocker:latest  # Imagen que subes a Docker Hub
          ports:
            - containerPort: 8080
          livenessProbe:          # Health check para verificar si el contenedor está vivo
            httpGet:
              path: /             # Ruta a verificar ("/" por defecto)
              port: 8080          # Puerto donde tu app escucha
            initialDelaySeconds: 5  # Espera inicial antes del primer chequeo
            periodSeconds: 10      # Intervalo entre chequeos
          readinessProbe:         # Health check para verificar si está listo para recibir tráfico
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
